## Part 1 
Pair up the smallest number in the left list with the smallest number in the right list, then the second-smallest left number with the second-smallest right number, and so on.\
Within each pair, figure out how far apart the two numbers are; you'll need to add up all of those distances.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(columns= ['loc1','loc2'])

In [3]:
f = open('day1Input.txt','r')

for i,line in enumerate(f.readlines()):
    row = line.strip('\n').split()
    
    #convert to integers
    row[0] = int(row[0])
    row[1] = int(row[1])
    df.loc[i] = row

In [4]:
df.head()

    loc1   loc2
0  35039  67568
1  61770  80134
2  64079  34668
3  61538  86348
4  77448  73688

In [5]:
#sort the lists
loc1 = df['loc1'].tolist()
loc1.sort()

loc2 = df['loc2'].tolist()
loc2.sort()

In [6]:
#replace the columns with the sorted lists
df['loc1'] = loc1
df['loc2'] = loc2

In [7]:
#calculate the difference
df['diff'] = abs(df['loc1'] - df['loc2'])

Answer for the first part :

In [ ]:
df['diff'].sum()

## Part 2
Figure out exactly how often each number from the left list appears in the right list. Calculate a total similarity score by adding up each number in the left list after multiplying it by the number of times that number appears in the right list.

In [8]:
#dictionary of counts of numbers
loc2nums = dict(df['loc2'].value_counts())

In [9]:
score = 0

for i in loc1:
    if i in loc2nums.keys():
        score += loc2nums[i]*i

Answer of the second part :

In [ ]:
score